/**
 * CONTENTS
 *
 * GENERAL
 * General...............Styles that apply to all sections: *, h1-h6, body...
 *
 * NAVIGATION
 * Navigation............Styles that apply to the navigation bar.
 *
 * PRESENTATION
 * Presentation..........Styles that apply to the first section.
 * Navigation + Presentation must be 100vh if nav bar is present.
 *
 * PROFILE
 * Profile...............Styles that apply to the second section.
 * Profile must be 100vh if nav bar is present.
 *
 * ACADEMIC
 * Academic..............Styles that apply to the third section.
 * Academic must be 100vh if nav bar is present.
 *
 * WORK
 * WORK..................Styles that apply to the fourth section.
 * Work + Footer must be 100vh if nav bar is present.
 *
 * FOOTER
 * Text..................Styles that apply to the footer.
 */

 
/*------------------------------------*\
  #GENERAL
\*------------------------------------*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a:hover, a:active, a:focus {
  outline: 0;
}

strong {
  font-weight: 600;
}

body {
  padding: 0;
  margin: 0;
  font-family: $font-family-sans-serif;
  font-size: $root-font-size;
  line-height: $root-line-height;
  color: $section-color2;
  background-color: $body-color;
}

.section-presentation,
.section-profile,
.section-academic,
.section-work {
  @extend %content-block;
}

@media (min-width: #{$show-naw-width}) {
  .section-presentation,
  .section-profile,
  .section-academic,
  .section-work {
    min-height: 100vh;
  }
}

.container {
  @extend %content-block;
  padding: 10px;
}

h1 {
  font-size: 1.5 * $root-font-size;
  font-weight: 600;
  line-height: 1.5 * $root-line-height;
}

h2 {
  font-size: 1.4 * $root-font-size;
  font-weight: 600;
  line-height: 1.4 * $root-line-height;
}

h3 {
  font-size: 1.3 * $root-font-size;
  font-weight: 600;
  line-height: 1.3 * $root-line-height;
}

h4 {
  font-size: 1.2 * $root-font-size;
  font-weight: 600;
  line-height: 1.2 * $root-line-height;
}

h5 {
  font-size: 1.1 * $root-font-size;
  font-weight: 500;
  line-height: 1.1 * $root-line-height;
}

/*------------------------------------*\
  #NAVIGATION
\*------------------------------------*/

.nav {
  @extend %content-block;
  position: relative;
  height: $nav-height-hidden;
  visibility: hidden;
}

@media (min-width: #{$show-naw-width}) {
  .nav {
    height: $nav-height-visible;
    visibility: visible;
  }
}

.nav-bar {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  width: 85%;
  height: 100%;
  padding-bottom: 20px;
}

.nav-item {
  padding: 0 10px;
  margin: 0 5px;
  list-style-type: none;
}

@media (min-width: 900px) {
  .nav-bar {
    justify-content: flex-start;
  }
  .nav-item {
    padding: 0 20px;
    margin: 0 10px;
  }
}

.nav-link,
.nav-link:visited,
.nav-link:active {
  font-size: $root-font-size * 1.3;
  line-height: $root-line-height * 1.3;
  color: $link-color;
  text-decoration: none;
  -webkit-transition: color .15s linear;
  -moz-transition: color .15s linear;
  transition: color .15s linear;
}

.nav-link:hover {
  color: $link-hover-color;
}

/*------------------------------------*\
  #SECTION 1 - PRESENTATION
\*------------------------------------*/

.section-presentation {
  flex-direction: column;
  justify-content: flex-start;
}

@media (min-width: #{$show-naw-width}) {
  .section-presentation {
    min-height: calc(100vh - #{$nav-height-visible});
  } 
}

.profile-image {
  max-width: 400px;
  max-height: 400px;
  padding: 10px;
  margin-bottom: 60px;
}

@media (min-width: 720px) {
  .profile-image {
    max-width: 500px;
    max-height: 500px;
    margin-top: 30px;
  }
}

.name-and-title {
  flex-direction: column;
  margin-bottom: 30px;

  h1, h2 {
    width: 100%;
    text-align: center;
  }
  h1 {
    font-size: 1.7 * $root-font-size;
    font-weight: 600;
    line-height: 1.7 * $root-line-height;
  }
  h2 {
    font-size: 1.6 * $root-font-size;
    font-weight: 500;
    line-height: 1.6 * $root-line-height;
  }
}

@media (min-width: 1080px) {

  .name-and-title {
    margin-top: 20px;

    h1 {
      font-size: 1.9 * $root-font-size;
      line-height: 1.9 * $root-line-height;
    }
    h2 {
      font-size: 1.75 * $root-font-size;
      line-height: 1.75 * $root-line-height;
    }
  }
}

/*------------------------------------*\
  #SECTION 2 - PROFILE
\*------------------------------------*/

.section-profile {
  flex-direction: column;
  padding-top: 40px;
  background-color: $section-color1;
}

.section-profile h2 {
  width: 70vw;
  color: $link-color;
}

.stack-grid {
  display: grid;
  align-items: normal;
  // min-height: calc(100vh - 40px);
  min-width: calc(100vw - 40px);
  padding: 20px;
  margin: 0;
  grid-template-columns: 100%;
}

@media (min-width: 720px) {
  .stack-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

.stack {
  padding: 20px;
  margin: 5vh 2vw;

  border: 2px solid #bbb;
  border-radius: 5px;
  box-shadow: 1px 1px 2px #aaa;

  transition: background-color .25s linear;
  transition: box-shadow .25s linear;
}

.stack-label {
  color: $strong-color;
  transition: color .25s linear;
}

.stack-label i {
  padding-right: 6px;
}

.stack-description {
  margin-top: 10px;

  transition: color .25s linear;
}

.stack-description strong {
  color: $strong-color;
  transition: color .25s linear;
}

.stack:hover {
  background-color: $body-color;
  box-shadow: none;

  .stack-label {
    color: $link-hover-color;
  }
  .stack-description {
    color: $link-color;
  }
  .stack-description strong {
    color: $link-hover-color;
  }
}

/*------------------------------------*\
  #SECTION 3 - ACADEMIC
\*------------------------------------*/

.section-academic {
  flex-direction: column;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  color: $dark-section-text-color;
  background-color: $section-color2;
}

.section-academic h2 {
  width: 70vw;
  margin-top: 20px;
  color: $section-color1;
}

.academic-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 90%;

  padding: 10px 0;
  margin-bottom: 10px;
}

.academic-item p {
  max-width: 720px;
}

@media (min-width: 720px) {
  .academic-item {
    width: 51%;
  }
}

.academic-item h4 {
  color: $link-hover-color;
}

.academic-item i {
  padding-right: 5px;
}

.final-project-link,
.final-project-link:visited,
.final-project-link:active {
  font-weight: 600;
  color: $link-blue-color;
  text-decoration: none;
}

.final-project-link:hover {
  color: $link-hover-color;
}

/*------------------------------------*\
  #SECTION 3 - WORK
\*------------------------------------*/

.section-work {
  flex-direction: column;
  justify-content: flex-start;
  min-height: 80vh;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: $section-color1;
}

.section-work h2 {
  width: 70vw;
  margin-top: 20px;
}

.work-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 70%;

  padding: 10px 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

.work-item i {
  padding-right: 5px;
}

.work-description {
  max-width: 720px;
  margin-top: 10px;
}

.work-description strong {
  color: $link-blue-color;
}

.company-logo {
  max-width: 220px;
  max-height: 80px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (min-width: 720px) {
  .work-item {
    width: 51%;
  }
  .company-logo {
    margin: 20px 0;
  }
}

/*------------------------------------*\
  #FOOTER
\*------------------------------------*/

.footer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: $footer-height;
  min-height: 20vh;
  background-color: $footer-color;
}

.footer p {
  margin-top: 8vh;
  font-size: 1.2 * $root-font-size;
  color: $dark-section-text-color;
}

.footer p i {
  padding: 0 5px;
  font-size: 1.5 * $root-font-size;
  color: $dark-section-text-color;
}

.footer p i:hover {
  color: $body-color;
}
