@use "sass:color";

$font-family-monospace: "Anonymous Pro", monospace;
$font-family-sans-serif: "Open Sans", sans-serif;
$font-family-serif: "Georgia", "Times New Roman", serif;

$root-font-size: 16px;
$root-line-height: 27px;

$body-color: #eee;
$footer-color: #393e46;
$section-color1: color.adjust($body-color, $blackness: +5%);
$section-color2: #222831;
$dark-section-text-color: color.adjust($body-color, $blackness: +25%);

$text-color: #222831;
$text-color2: #eee;
$link-color: #393e46;
$link-hover-color: #00adb5;
$link-blue-color: color.adjust($link-hover-color, $blackness: +15%);
$strong-color: color.adjust($link-hover-color, $blackness: +20%);

$show-naw-width: 720px;
$nav-height-hidden: 60px;
$nav-height-visible: 120px;

$footer-height: 120px;

%content-block {
  display: flex;
  align-items: center;
  justify-content: center;
}


// $uoc-bg: color.scale($uoc-masterbrand, $lightness: 70%);
